<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
		<property name="hibernate.connection.url">jdbc:derby://localhost:1527/@DB_NAME@</property>
		<property name="hibernate.connection.username">@DB_USER@</property>
		<property name="hibernate.connection.password">@DB_PW@</property>
		<property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="javax.persistence.validation.mode">none</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="hibernate.validator.autoregister_listeners">false</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">100</property> <!-- seconds -->
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.min_size">0</property>
		<property name="hibernate.c3p0.timeout">100</property> <!-- seconds -->
		<mapping resource="ecrcrest.hbm.xml" />

	</session-factory>
</hibernate-configuration>
